@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Dongle", sans-serif;
}
.img-container {
  overflow: hidden;
  position: relative;
}
.image {
  position: absolute;
  top:45vh;
}
.line {
  margin-top: -25px;
}
.greet {
  font-size: 40px;
}
.name {
  font-size: 85px;
}
.work {
  font-size: 63px;
}

.button {
  padding: 6px 20px !important;
  border-radius: 10px !important;
  font-size: 25px !important;
}
.main-page {
  height: 100vh;
}
.skills{
  margin-bottom: 60px;
}
.about-text,
.skills-text {
  font-size: 60px;
}
.about-me {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-name {
  font-size: 47px;
}

.bar-html,
.bar-css,
.bar-bstp,
.bar-js {
  height: 6px;
  width: 90%;
  border-radius: 25px;
}
.bar-css {
  width: 85%;
}
.bar-bstp {
  width: 85%;
}
.bar-js {
  width: 75%;
}
.project {
  box-shadow: 5px 6px 17px #aaaaaa;
}
.footer {
  background-color: #535353;
}

.hover {
  transition: transform 0.3s;
}
.hover:hover {
  transform: scale(1.05);
}
.cursor {
  cursor: pointer;
}

.content {
  padding: 5px 10px 0px 0px;
  box-shadow: 5px 6px 17px #aaaaaa;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .line {
    margin-top: -10px;
  }
  .links {
    position: relative;
  }
  .links:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    background: #ffc107;
    top: 53px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
  }
  .links:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
}
@media (min-width: 768px){
  .image {
    position: absolute;
    top:25vh;
  }
}